:root {
  --font-family-sans: 'Inconsolata', 'Arial', 'Helvetica', 'Arial', serif;
  --font-family-serif: 'EB Garamond', 'Georgia', 'Times', 'Times New Roman', serif;
 }
 
 body {
   margin: 0;
   position: relative;
   background-color: #1c1e1c;
   font-family: var(--font-family-serif);
   font-size: 20px;
   color: #dedede;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }
 section {
   margin: 50px auto;
   width: 85%;
   max-width: 640px;
 }
 
 /* TEXT STYLES */
 p, li {
   font-size: 1em;
   line-height: 1.8rem;
 }
 a:link {
   transition: 0.5s ease;
 }
 
 
 h1 {
  margin: 4rem auto;
  color: #ffffff;
  font-family: 'Handjet', sans-serif;
  font-size: 5rem;
  font-weight: 200;
  text-align: center;
  } 
 h2 {
  font-family: 'Handjet', sans-serif;
   font-size: 3rem;
   letter-spacing: 0.05em;
   font-weight: 200;
   text-align: center;
   margin: 3rem auto 1rem;
 }